# Python cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / distribution
build/
dist/
*.egg-info/
